// Container

.container {
    max-width: $max-width;
    overflow: hidden;
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 3rem;
    padding: 0 2rem;
}


// Text styles

.x-large {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.large {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.lead {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.text-primary {
    color: $primary-color;
}

// round image
.round-img {
    border-radius: 50%;
}

// line
.line {
    height: 1px;
    background: #ccc;
    margin: 1.5rem 0;
}


// backgrounds

.bg {
    &-primary {
        @include set-background-color($primary-color);
    }
    &-light {
        @include set-background-color($light-color);
        border: 1px solid #ccc;
    }
    &-dark {
        @include set-background-color($dark-color);
    }
    &-success {
        @include set-background-color($success-color);
    }
    &-danger {
        @include set-background-color($danger-color);
    }
    &-white {
        @include set-background-color(#fff);
        border: 1px solid #ccc;
    }
}

// buttons

.btn {
    display: inline-block;
    background-color: $light-color;
    color: #333;
    padding: .4rem 1.3rem;
    margin-right: .45rem;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;

    &.btn-primary {
        @include set-background-color($primary-color);
        &:hover {
            background: lighten($primary-color, 10%);
        }
    }
    &.btn-dark {
        @include set-background-color($dark-color);
        &:hover {
            background: lighten($dark-color, 10%);
        }
    }
    &.btn-success {
        @include set-background-color($success-color);
        &:hover {
            background: lighten($success-color, 10%);
        }
    }
    &.btn-danger {
        @include set-background-color($danger-color);
        &:hover {
            background: lighten($danger-color, 10%);
        }
    }

    &:hover {
        background: lighten($dark-color, 20%);
        color: #fff;
    }

}


// Alerts

.alert {
    padding: 0.8rem;
    margin: 1rem;
    opacity: 0.9;
    background: $light-color;
    color: #333;

    &.alert-primary {
        @include set-background-color($primary-color);
    }
    &.alert-dark {
        @include set-background-color($dark-color);
    }
    &.alert-success {
        @include set-background-color($success-color);
    }
    &.alert-danger {
        @include set-background-color($danger-color);
    }
}


// Badges

.badge {
    font: .8rem;
    padding: .1rem;
    margin: .4rem;
    background: $light-color;
    text-align: center;

    &.badge-primary {
        @include set-background-color($primary-color);
    }

    &.badge-dark {
        @include set-background-color($dark-color);
    }

    &.badge-success {
        @include set-background-color($success-color);
    }
    &.badge-danger {
        @include set-background-color($danger-color);
    }

}


.dark-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
}

